.u-section-1 .u-sheet-1 {
  min-height: 241px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 806px;
  margin: 1px auto 1px 149px;
}

.u-section-1 .u-image-1 {
  min-height: 246px;
  background-image: url("images/Break.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 16px auto 0 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 820px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 219px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 169px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-image-1 {
    min-height: 157px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 241px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 806px;
  margin: 1px auto 1px 149px;
}

.u-section-2 .u-image-1 {
  min-height: 246px;
  background-image: url("images/telecomtrol.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 16px auto 0 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 820px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 169px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 6px;
  }
}